<%= form_for (@army) do |f| %>
    <h1><label> Please enter the name of your forces and choose your units: </label><br></h1>  <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :units %>
    <%= f.collection_check_boxes(:unit_ids, Unit.all, :id, :name)%>
    <%= f.submit %>
<% end %>
    
    






    
     
