

<h1> Your army</h1> 

<h2><%= @army.name %></h2><br>
    <%= link_to "Edit Army", edit_army_path(@army) %>
    <%= link_to "Delete Army", army_path(@army), method: :delete %>

<% @army.units.each do |a| %> 
    <h3><%= a.name %></h3><br> 
<% end %> 

<br>
<br>
<br>
<br>
<%= link_to 'See all the armies', '/armies'%>
<br>
<br>
<br>
<br>
<br>



  
