<h1> |>  GALLERY  <| </h1><br>

<h1>ROME</h1><br>
<div class="centered-pic">
    <%= image_tag 'logos/rome_logo.png' %>
</div>
<h5>General: Julius Caesar</h5><br>
<div class="centered-pic">
    <%= image_tag 'generals/1_julius_caesar_pic.jpg' %>
</div>
<h5>Roman Army</h5><br>
<div class="centered-pic">
    <%= image_tag 'armies/Roman-Army.jpg' %><br>
</div>
<div class="pic-army">
    <%= image_tag 'armies/Roman_Triarii.jpg' %>
    <%= image_tag "armies/roman-soldier-1.jpg" %>
</div>



<h3>CARTHAGE</h3><br>
<div class="centered-pic">
    <%= image_tag 'logos/carthage_logo.png' %>
</div>
<h5>General: Hannibal Barca</h5><br>
<div class="centered-pic">
    <%= image_tag 'generals/2_hannibal_barca.jpg' %>
</div>
<h5>Carthaginian Army</h5><br>
<div class="centered-pic"> 
    <%= image_tag "armies/Carthage_city.jpg" %>
</div>
<div class="centered-pic">
    <%= image_tag "armies/Carthage_Port.jpg" %>
</div>



<h3>ARVERNI</h3><br>
<%= image_tag 'logos/arverni_logo.png' %><br>
<h5>General: Vercingetorix</h5><br>
<%= image_tag 'generals/5_vercingetorix_pic.jpg' %>
<h5>Gallic Army</h5><br>


<h3>SELEUCIDS</h3><br>
<%= image_tag 'logos/seleucid_logo.png' %>
<h5>General: Seleucos I Nictator</h5><br>
<%= image_tag 'generals/3_seleucus_I_pic.jpg' %>
<h5>Seleucid Army</h5><br>


<h3>SPARTAN</h3><br>
<%= image_tag 'logos/spartan_logo.png' %>
<h5>General: Leonidas I</h5><br>
<%= image_tag 'generals/4_leonidas_pic.jpg' %>
<h5>Spartan Army</h5><br>
<h5>Royal Spartan</h5><br>
<%= image_tag 'armies/Royal_Spartan.jpg' %>


