<h1> |>   INFANTRY   <| </h1><br>
<div class="grid">
<% @units.each do |u| %>
<div class="grid-item">
    <div class="grid-item-name">
        <h2> <%= u.name %> </h2>
    </div>
    <h3>Size: <%= u.size %>  </h3>
    <h3>Price: <%= u.price %>  </h3>
    <h3>Attack: <%= u.attack %>  </h3>
    <h3>Defence: <%= u.defence %>  </h3>
    </div>
<% end %>
</div>